.navbar {
  background-color: #182b49;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.4);
}

.title a {
  color: #c69214;
  font-size: 35px;
  margin-left: 25px;
  text-decoration: none;
  font-weight: bold;
}

.nav_buttons a {
  color: #c69214;
  font-size: 25px;
  margin-right: 40px;
  text-decoration: none;
}
