.typing_game {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.start_game {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  
}

#options{
    border-radius:100px;
}

#sentence_selector {
    font-size: 1.5rem;
    background-color: #23272f;
    border-radius: 100px;
    padding: 15px;
}

.start_button {
    background-color: #0e2752;
    border-color: black;
    color: white;
    border-radius: 20px;
    margin: 40px;
    font-size: 25px;
    height: 10vh;
    width: 15vw;
    transition-duration: 200ms;

}

.start_button:hover {
    opacity: 80%;
    cursor: pointer;
    transform:scale(1.025);
  
}

.typing_component {
   
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    font-size: 2rem;
    text-align: center;
}

#endCard{
    transform: scale(0.9);

}