html, body {
  margin: 0px;
  width: 100vw;
  height:100vh;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

*{
  font-family: monospace;
  color:gainsboro;
}

p, h2{
  color:gainsboro;

}

h1{
  color:gainsboro;
  text-decoration: underline;
  text-decoration-thickness: 2px;

}
