.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.welcome {
  font-size: 25px;
  text-align: center;
  color: black;
}

.top_three_cards,
.all_cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.topThree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allGames {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.page {
  min-height: 100vh;
  background-color: #111e3d;
}
